<html>
    {% load static %}

    <head>
        <title> Confirmation </title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/eventspark1.png' %}">
        <style>
            body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


.container {
    margin-top: 30px;
}

h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
}

        </style>
    </head>
    <body>
        <div class="container">
            <h1>Confirmation</h1>
            <p>Votre inscription a été enregistrée avec succès.</p>
        </div>
    </body>
</html>